ipykernel==6.20.1
ipython==8.8.0
ipywidgets==8.0.4
matplotlib==3.6.3
nltk==3.8.1
numpy==1.24.1
optuna==3.0.5
pandas==1.5.2
protobuf==4.21.12
PyYAML==6.0
scikit_learn==1.2.0
seaborn==0.12.2
tensorflow==2.11.0
torch==1.13.1
torchcrf==1.1.0
tqdm==4.64.1
transformers==4.25.1
xgboost==1.7.3
